#sheshere {
    background-image: url("emojer_shiny.gif");
    background-size: contain;
    min-width: 372px;
    min-height: 684px;
}

.hovel {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: hotpink;
    color: crimson;
}